body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #f4f4f9; 
}


/* contador */
#contador {
    font-size: 5em;
    font-weight: bold;
    color: #333; 
    transition: color 0.3s ease; 
}

/* alerta */
#contador.limite { 
    color: #b71540
; 
}